.home-layout {
  display: flex;
  flex: 1;
  min-height: 0;
}

.home-content {
  flex: 1;
  display: flex;
  min-width: 0;
  min-height: 0;
}

.home-container {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}