@import './styles/Post.css';
@import './styles/PostPage.css';
@import './styles/HomePage.css';
@import './styles/Navigation.css';
@import './styles/ChatPage.css';
@import './styles/Chat.css';
@import './styles/CreateNewPost.css';
@import './styles/Login.css';
@import './styles/Pagination.css';


body,
html {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  height: 100%;
  margin: 0;
  padding: 0;
}